@import "tailwindcss";

:root {
    /* Naranja logo */
    --color-primary: #FF8C00;
    /* Naranja claro */
    --color-secondary: #FFD86D;
    /* Negro */
    --color-background: #000000;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 20s linear infinite;
}

.animate-scroll:hover {
    animation-play-state: paused;
}

@keyframes scroll-infinite {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-33.333%);
    }
}

.animate-scroll-infinite {
    animation: scroll-infinite 40s linear infinite;
}

/* Pausa la animación al hacer hover */
.animate-scroll-infinite:hover {
    animation-play-state: paused;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s ease-out;
}

.animate-scaleIn {
    animation: scaleIn 0.3s ease-out;
}